## Convert csv data to html data

In [1]:
# Import dependencies 
import os
import pandas as pd

In [2]:
# Create path to csv
csv_path = os.path.join('../data', 'data.csv')
covid_csv = pd.read_csv(csv_path)

In [3]:
# Check data
covid_csv.head()

,date,state,cases,deaths,population,latitude,longitude,cases as percent of population,deaths as percent of population
0,1/21/2020,WA,1,0,786620,47.84,-122.19,0.000001,0.0
1,1/22/2020,WA,1,0,786620,47.84,-122.19,0.000001,0.0
2,1/23/2020,WA,1,0,786620,47.84,-122.19,0.000001,0.0
3,1/24/2020,WA,1,0,786620,47.84,-122.19,0.000001,0.0
4,1/25/2020,WA,1,0,786620,47.84,-122.19,0.000001,0.0

## Create html table

In [4]:
# Create html table and save to file 
covid_csv.to_html('../templates/table.html', index=False, classes=['table', 'table-striped', 'table-hover'])