In [2]:
import pandas as pd
import numpy as np

In [3]:
file = '../data/covid_with_lat_long.csv'
covid_df = pd.read_csv(file)

In [4]:
covid_df.head()

,Unnamed: 0,date,county,state,fips,cases,deaths,population,latitude,longitude
0,0,1/21/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
1,1,1/22/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
2,2,1/23/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
3,3,1/24/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
4,4,1/25/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19

In [5]:
covid_df['cases as percent of population'] = covid_df['cases']/covid_df['population']
covid_df['deaths as percent of population'] = covid_df['deaths']/covid_df['population']
covid_df.head()

,Unnamed: 0,date,county,state,fips,cases,deaths,population,latitude,longitude,cases as percent of population,deaths as percent of population
0,0,1/21/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
1,1,1/22/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
2,2,1/23/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
3,3,1/24/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
4,4,1/25/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0

In [7]:
covid_df = covid_df.drop(columns=['Unnamed: 0'])
covid_df.head()

,date,county,state,fips,cases,deaths,population,latitude,longitude,cases as percent of population,deaths as percent of population
0,1/21/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
1,1/22/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
2,1/23/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
3,1/24/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0
4,1/25/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19,0.000001,0.0

In [8]:
covid_df.to_csv(r'../data/final_data.csv')