In [120]:
import pandas as pd
import numpy as np

In [121]:
lat_lon_file = 'Geocodes_USA_with_Counties.csv'
covid_file = "us-counties-covid.csv"
population_file = "population datasets.csv"

In [122]:
covid_df = pd.read_csv(covid_file)
lat_lon_df = pd.read_csv(lat_lon_file)
pop_df = pd.read_csv(population_file)

In [131]:
abbv = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

covid_df = covid_df.replace({"state": abbv})

In [132]:
lat_lon_df = lat_lon_df [['county', 'state', 'latitude', 'longitude']]
lat_lon_df.dtypes

county        object
state         object
latitude     float64
longitude    float64
dtype: object

In [133]:
pop_df = pop_df [['fips', 'population']]
pop_df.head()

   fips  population
0  1001       55200
1  1003      208107
2  1005       25782
3  1007       22527
4  1009       57645

In [134]:
print(covid_df.count())
covid2_df = pd.merge(covid_df, pop_df, on='fips', how = 'inner')
covid2_df['state']

date      596025
county    596025
state     596025
fips      590288
cases     596025
deaths    596025
dtype: int64

0         WA
1         WA
2         WA
3         WA
4         WA
          ..
589576    NE
589577    NE
589578    NE
589579    NE
589580    NE
Name: state, Length: 589581, dtype: object

In [135]:
lat_drop_dup = lat_lon_df.drop_duplicates(subset = ['state', 'county'])

lat_drop_dup.to_csv(r'test.csv')

In [136]:
lat_drop_dup_file = "data/test.csv"
lat_drop_dup = pd.read_csv(lat_drop_dup_file)

In [137]:
covid2_df['state'].value_counts().head(61)

TX    44448
GA    30772
VA    25018
KY    22090
MO    20584
NC    19108
IL    18961
TN    18243
IA    18214
IN    17877
KS    17413
OH    17006
MN    16035
MS    15945
MI    15703
AR    14222
NE    14145
OK    14084
WI    13594
FL    13261
PA    13110
AL    12983
LA    12548
CO    11895
PR    11819
CA    11630
NY    11419
SD    10805
WV     9949
SC     9086
ND     8671
WA     7820
MT     7783
ID     7344
OR     6652
NM     5910
UT     5121
MD     4796
WY     4310
NJ     4297
AK     4067
ME     3106
AZ     3030
MA     2907
NV     2811
VT     2758
NH     2007
CT     1620
RI      965
HI      820
DE      608
DC      211
Name: state, dtype: int64

In [94]:
lat_drop_dup['state'].astype(str)

0       AK
1       AK
2       AK
3       AK
4       AK
        ..
3185    WY
3186    WY
3187    WY
3188    WY
3189    WY
Name: state, Length: 3190, dtype: object

In [138]:

merged_df = pd.merge(covid2_df, lat_drop_dup, on = ['state', 'county'])
merged_df.count()

date          552672
county        552672
state         552672
fips          552672
cases         552672
deaths        552672
population    552672
Unnamed: 0    552672
latitude      552672
longitude     552672
dtype: int64

In [142]:
merged_df = merged_df.drop(columns=['Unnamed: 0'])
merged_df.head()

,date,county,state,fips,cases,deaths,population,latitude,longitude
0,1/21/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
1,1/22/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
2,1/23/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
3,1/24/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19
4,1/25/2020,Snohomish,WA,53061.0,1,0,786620,47.84,-122.19

In [143]:
merged_df.to_csv(r'covid_with_lat_long.csv')